services:
  mariadb:
    image: mariadb                  # nazwa obrazu = nazwa serwisu (wymóg)
    build: ./requirements/mariadb
    container_name: mariadb
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD_FILE: /run/secrets/db_password
      DB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    volumes:
      - ${DATA_PATH}/db:/var/lib/mysql
    networks:
      - inception                   # lub ${NETWORK_NAME} jeśli masz w .env
    secrets:
      - db_password
      - db_root_password
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin --protocol=socket -uroot -p$$(cat /run/secrets/db_root_password) ping -S /run/mysqld/mysqld.sock || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20

  wordpress:
    image: wordpress
    build: ./requirements/wordpress
    container_name: wordpress
    restart: unless-stopped
    env_file: 
      - .env
    environment:
      DB_HOST: mariadb
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD_FILE: /run/secrets/db_password
      DOMAIN_NAME: ${DOMAIN_NAME}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USR: ${WP_ADMIN_USR}   # bez "admin"
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
    secrets:
      - db_password
    volumes:
      - ${DATA_PATH}/wp:/var/www/html
    networks: [inception]
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "php -r 'exit(!is_file(\"/var/www/html/wp-config.php\"));'"]
      interval: 10s
      timeout: 3s
      retries: 30

  nginx:
    image: nginx
    build: ./requirements/nginx
    container_name: nginx
    restart: unless-stopped
    env_file: [.env]
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    ports:
      - "443:443"
    volumes:
      - ${DATA_PATH}/wp:/var/www/html:ro
    networks: [inception]
    depends_on:
      - wordpress

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

networks:
  inception:
    driver: bridge
